@charset "utf-8";

/*
`z-index` 约定
所有 `position` 为 `fixed` 时 `z-index` 须设置为 `9999`
所有 `弹窗` `z-index` 须设置为 `99999`
*/

:root {
    --global-color: #0a628f;
    --global-active-color: #0a4d6f;
    --global-light: #166ca5;
    --global-active-light: #46a4d4;
    --global-context-bg: #1b2838;
    --global-context-light-bg: #223e5a;
    --global-context-light-active: #2b547d;
    --global-context-dark-color: #56707f;
    --global-context-color: #c6d4df;

    --global-body-min-width: 750px;
}

* {
    word-wrap: break-word;
    outline: none;
    user-select: none;
}
html,
body {
    height: 100%;
    overflow: hidden;
    font-family: "Motiva Sans";
}
html {
    -webkit-text-size-adjust: none;
}
body,
td,
input,
textarea,
select,
button {
    color: #555;
    font-size: 13px;
}
body,
ul,
ol,
li,
dl,
dt,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset {
    margin: 0;
    padding: 0;
}
ul,
ol,
li {
    list-style-image: none;
    list-style-type: none;
}
a {
    color: var(--global-color);
    text-decoration: none;
    blr: expression(this.onFocus=this.blur());
}
a:hover,
a:focus {
    color: var(--global-active-color);
    text-decoration: none;
    outline: none;
}
a img {
    border: none;
}
em,
cite,
th {
    font-style: normal;
    font-weight: normal;
}
table {
    border-collapse: collapse;
}
th {
    text-align: left;
}
input,
button,
select,
textarea {
    outline: none;
    margin: 0px;
    padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 300;
}

/* 段落 */
.p-text {
    text-indent: 2em;
    word-break: break-all;
}

/* 默认背景 */
#app {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: var(--global-body-min-width);
    height: 100%;
    background-position: center 10%;
    background-size: cover;
}

/* 按钮样式 */
button:focus,
.btn:focus,
.btn.focus,
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus {
    outline: none;
}
.btn {
    padding: 0 10px;
}
.btn-primary {
    background-color: var(--global-color);
    border-color: var(--global-color);
}
.btn-primary.active,
.btn-primary:active,
.btn-primary:hover,
.open > .btn-primary.dropdown-toggle {
    background-color: var(--global-active-color);
    border-color: var(--global-active-color);
}
.btn-link:focus,
.btn-link:hover {
    text-decoration: none;
}

/* captcha 针对使用captcha primary所定制 */
.captcha-group {
    position: relative;
}
.captcha-group .captcha-img {
    position: absolute;
    top: 1px;
    bottom: 1px;
    right: 16px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}
.captcha-group .captcha-ipt {
    padding-right: 112px;
}

/* navbar样式 */
.navbar-static-top {
    z-index: 9999;
}

/* navbar颜色 */
.navbar-primary {
    background-color: var(--global-color);
    border-color: var(--global-color);
}

.navbar-primary .navbar-brand {
    color: #e0e0e0;
}

.navbar-primary .navbar-brand:hover,
.navbar-primary .navbar-brand:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-primary .navbar-text {
    color: #e0e0e0;
}

.navbar-primary .navbar-nav > li > a {
    color: #e0e0e0;
}

.navbar-primary .navbar-nav > li > a:hover,
.navbar-primary .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-primary .navbar-nav > .active > a,
.navbar-primary .navbar-nav > .active > a:hover,
.navbar-primary .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: var(--global-active-color);
}

.navbar-primary .navbar-nav > .disabled > a,
.navbar-primary .navbar-nav > .disabled > a:hover,
.navbar-primary .navbar-nav > .disabled > a:focus {
    color: #c0c0c0;
    background-color: transparent;
}

.navbar-primary .navbar-nav > .open > a,
.navbar-primary .navbar-nav > .open > a:hover,
.navbar-primary .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: var(--global-active-color);
}

@media (max-width: 767px) {
    .navbar-primary .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: var(--global-active-color);
    }

    .navbar-primary .navbar-nav .open .dropdown-menu .divider {
        background-color: var(--global-active-color);
    }

    .navbar-primary .navbar-nav .open .dropdown-menu > li > a {
        color: #e0e0e0;
    }

    .navbar-primary .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-primary .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: transparent;
    }

    .navbar-primary .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-primary .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-primary .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: var(--global-active-color);
    }

    .navbar-primary .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-primary .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-primary .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #c0c0c0;
        background-color: transparent;
    }
}

.navbar-primary .navbar-toggle {
    border-color: #e0e0e0;
}

.navbar-primary .navbar-toggle:hover,
.navbar-primary .navbar-toggle:focus {
    background-color: #e0e0e0;
}

.navbar-primary .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-primary .navbar-collapse,
.navbar-primary .navbar-form {
    border-color: var(--global-active-color);
}

.navbar-primary .navbar-link {
    color: #e0e0e0;
}

.navbar-primary .navbar-link:hover {
    color: #fff;
}

.navbar-primary .btn-link {
    color: #e0e0e0;
}

.navbar-primary .btn-link:hover,
.navbar-primary .btn-link:focus {
    color: #fff;
}

.navbar-primary .btn-link[disabled]:hover,
.navbar-primary .btn-link[disabled]:focus,
fieldset[disabled] .navbar-primary .btn-link:hover,
fieldset[disabled] .navbar-primary .btn-link:focus {
    color: #c0c0c0;
}

/* 组件视图 提醒框组件 */
@keyframes warning-box-slide-up {
    0% { bottom: -250px; }
    40% { bottom: -250px; }
    100% { bottom: 10px; }
}
.warning-box {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
    height: 250px;
    padding: 40px 15px 10px 15px;
    background-color: #fff;
    z-index: 99999;
    box-shadow: 2px 2px 2px #ccc;
}
.warning-box.slide-up {
    animation: warning-box-slide-up 2.5s;
}
.warning-box .warning-bar-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: var(--global-color);
    color: #fff;
    line-height: 30px;
}

/* 组件视图 提醒栏组件 */
@keyframes remind-box-slide {
    0% { top: -105px; }
    10% { top: -105px; }
    30% { top: 10px; }
    80% { top: 10px; }
    100% { top: -105px; }
}
.remind-box {
    position: fixed;
    top: -105px;
    left: 0;
    right: 0;
    margin: auto;
    border-top: 3px solid #5cb85c;
    width: 400px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #65dc65;
    color: #f0f0f0;
    z-index: 99999;
}
.remind-box.slide {
    animation: remind-box-slide 5s;
}
.remind-box.remind-error {
    border-top: 3px solid #d43f3a;
    background-color: #ec5651;
}

/* 页面底部声明foot */
#foot {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    min-width: var(--global-body-min-width);
    height: 50px;
    border-top: 1px solid #f0f2f5;
    color: #aaa;
    z-index: 9999;
}
#foot > p {
    font-size: 12px;
    line-height: 25px;
}

/* 页面底部footer */
#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-width: var(--global-body-min-width);
    height: 100px;
    background-color: var(--global-color);
    z-index: 9999;
}
#footer .link-box {
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    margin: auto;
    width: 520px;
    height: 80px;
    display: flex;
}
#footer .link-box > li {
    flex: 1;
    text-align: center;
    padding: 5px 0;
}
#footer .link-box > li > label {
    border: 1px solid var(--global-color);
    background-color: #fff;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    transition: background-color 0.5s;
}
#footer .link-box > li > label > a {
    display: block;
    transition: color 0.5s;
}
#footer .link-box > li:nth-child(3) {
    padding: 0;
}
#footer .link-box > li:nth-child(3) > label {
    width: 80px;
    height: 80px;
    line-height: 80px;
}
#footer .link-box > li > .active {
    background-color: var(--global-active-color);
}
#footer .link-box > li > .active > a {
    color: #f0f0f0;
}
#footer .link-box > li > label:hover:not(.active) {
    background-color: var(--global-active-light);
}
#footer .link-box > li > label:not(.active) > a:hover {
    color: #f0f0f0;
}
#footer #foot {
    color: var(--global-active-light);
    border-color: var(--global-light);
}

/* 页面正文整体 */
#context {
    position: fixed;
    top: 50px;
    bottom: 100px;
    left: 0;
    width: 100%;
    min-width: var(--global-body-min-width);
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(240, 240, 240, 0.4);
}
#context::-webkit-scrollbar {
    width: 5px;
}
#context::-webkit-scrollbar-track {
    background-color: #fff;
}
#context::-webkit-scrollbar-thumb {
    background-color: var(--global-active-light);
}
#context .container {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--global-context-bg);
    color: var(--global-context-color);
}
#context a {
    color: var(--global-context-color);
}
#context .context-header {
    height: 120px;
    padding: 0 15px;
    background: linear-gradient(0deg, var(--global-context-light-bg), var(--global-context-bg));
    font-size: 12px;
    color: var(--global-context-dark-color);
}
#context .context-header .page-title {
    color: #f0f0f0;
}
#context .context-content {
    box-shadow: 0px -3px 3px -3px var(--global-context-bg);
    background: linear-gradient(var(--global-context-light-active), var(--global-context-bg) 60px);
    padding: 20px 15px 0;
}

/* 动态加载分页时渐变显示 */
@keyframes page-list {
    from { opacity: 0; }
    to { opacity: 1; }
}
.page-list {
    animation: page-list 1s;
}

/* 页面左侧工具栏 */
#left-tools {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 5px;
    margin: auto;
    width: 40px;
    height: 120px;
    z-index: 9999;
    box-shadow: 0px 0px 3px #ccc;
}
#left-tools > li {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: var(--global-color);
    color: #fff;
    cursor: pointer;
    transition: background-color 0.5s;
    border-bottom: 1px solid var(--global-light);
    position: relative;
}
#left-tools > li:last-child {
    border: none;
}
#left-tools > li:hover {
    background-color: var(--global-active-light);
}
#left-tools > li:not(.search-tool):hover:after {
    position: absolute;
    left: 52px;
    top: 0;
    min-width: 100px;
    height: 40px;
    content: attr(title);
    padding: 0 10px;
    line-height: 40px;
    background-color: var(--global-active-light);
    color: #fff;
}
#left-tools > li:not(.search-tool):hover:before, #left-tools > li.search-tool .search-box:before {
    position: absolute;
    left: 40px;
    top: 14px;
    height: 0;
    width: 0;
    line-height: 0;
    border-width: 6px;
    border-style: solid;
    border-color: transparent var(--global-active-light) transparent transparent;
    font-size: 0;
    content: '';
}
#left-tools > li.search-tool .search-box:before {
    left: -12px;
}
#left-tools > li.search-tool .search-box {
    position: absolute;
    left: 52px;
    top: 0;
    width: 200px;
    height: 40px;
    background-color: var(--global-active-light);
    display: none;
}
#left-tools > li.search-tool.active {
    background-color: var(--global-active-light);
}
#left-tools > li.search-tool.active .search-box {
    display: block;
}
#left-tools > li.search-tool .search-box input {
    position: absolute;
    top: 5px;
    left: 5px;
    border: 1px solid #eee;
    height: 30px;
    width: 190px;
    padding: 0 7px;
}

/* 页面分享按钮列表 */
.share {
    color: var(--global-context-dark-color);
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 12px;
    clear: both;
    line-height: 14px;
    background: rgba(0, 0, 0, 0.2);
    padding: 6px 8px 6px 8px;
}
.share a {
    margin-left: 7px;
}
.share a:first-child {
    margin-left: 15px;
}

/* 列表页筛选栏 */
.filters-block {
    margin-bottom: 16px;
}
.filters-block .header {
    background: rgba( 255, 255, 255, 0.1);
    padding: 4px;
    color: var(--global-context-color);
    font-size: 12px;
    font-weight: normal;
}
.filters-block .content {
    border: 1px solid rgba( 255, 255, 255, 0.1);
    border-radius: 2px;
    padding: 4px 2px 4px 4px;
    font-size: 12px;
}
.filters-block .content .bar {
    padding-left: 12px;
    display: block;
    color: #9fbbcb!important;
    font-size: 13px;
    font-weight: normal;
    line-height: 28px;
    transition: color 0.5s;
}
.filters-block .content .bar:hover {
    color: #fff!important;
}
.filters-block .content .bar.active {
    background: linear-gradient(135deg, #67c1f5 0%,#417a9b 100%);
    color: #fff!important;
    border-radius: 1px;
}
.filters-block .content .sub-channel {
    font-size: 11px;
    color: var(--global-context-dark-color);
    margin-bottom: 4px;
    text-transform: uppercase;
    margin-top: 14px;
}
.filters-block .content .sub-channel:first-of-type {
    margin-top: 0px;
}
.filters-block .content a:not(.bar) {
    color: #B0AEAC!important;
    margin-right: 7px;
    word-break: keep-all;
}
.filters-block .content a:not(.bar).active {
    color: #fff!important;
}