:root {
    --global-color: #0a628f;
    --global-active-color: #0a4d6f;
}

/* 段落 */
.p-text {
    text-indent: 2em;
    word-break: break-all;
}

/* 按钮样式 */
button:focus, .btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
    outline: none;
}
.btn {
    padding: 0 10px;
}
.btn-primary {
    background-color: var(--global-color);
    border-color: var(--global-color);
}
.btn-primary.active, .btn-primary:active, .btn-primary:hover, .open>.btn-primary.dropdown-toggle {
    background-color: var(--global-active-color);
    border-color: var(--global-active-color);
}
.btn-link:focus, .btn-link:hover {
    text-decoration: none;
}

/* captcha 针对使用captcha primary所定制 */
.captcha-group {
    position: relative;
}
.captcha-group .captcha-img {
    position: absolute;
    top: 1px;
    bottom: 1px;
    right: 16px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}
.captcha-group .captcha-ipt {
    padding-right: 112px;
}

/* navbar颜色 */
.navbar-primary {
    background-color: var(--global-color);
    border-color: var(--global-color);
}
.navbar-primary .navbar-nav > li > a {
    color: #e0e0e0;
}
.navbar-primary .navbar-nav > li > a:hover, .navbar-primary .navbar-nav > li > a:focus {
    color: #f0f0f0;
    background-color: var(--global-active-color);
}
.navbar-primary .navbar-brand {
    color: #e0e0e0;
}
.navbar-primary .navbar-brand:hover, .navbar-primary .navbar-brand:focus {
    color: #f0f0f0;
    background-color: var(--global-active-color);
}

/* nav toggle */
.navbar-primary .navbar-toggle {
    border-color: #ccc;
}
.navbar-primary .navbar-toggle:hover, .navbar-primary .navbar-toggle:focus {
    background-color: var(--global-active-color);
}
.navbar-primary .navbar-toggle .icon-bar {
    background-color: #fff;
}

/* 组件视图 提醒框组件 */
@keyframes warning-box-slide-up {
    0% { bottom: -250px; }
    40% { bottom: -250px; }
    100% { bottom: 10px; }
}
.warning-box {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
    height: 250px;
    padding: 40px 15px 10px 15px;
    background-color: #fff;
    z-index: 9999;
    box-shadow: 2px 2px 2px #ccc;
}
.warning-box.slide-up {
    animation: warning-box-slide-up 2.5s;
}
.warning-box .warning-bar-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: var(--global-color);
    color: #fff;
    line-height: 30px;
}

/* 组件视图 提醒栏组件 */
@keyframes remind-box-slide {
    0% { top: -105px; }
    10% { top: -105px; }
    30% { top: 10px; }
    80% { top: 10px; }
    100% { top: -105px; }
}
.remind-box {
    position: fixed;
    top: -105px;
    left: 0;
    right: 0;
    margin: auto;
    border-top: 3px solid #5cb85c;
    width: 400px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #65dc65;
    color: #f0f0f0;
    z-index: 9999;
}
.remind-box.slide {
    animation: remind-box-slide 5s;
}
.remind-box.remind-error {
    border-top: 3px solid #d43f3a;
    background-color: #ec5651;
}